/*
============================================
; Title: site.css
; Author: Sarah Kovar
; Date: 25 January 2020
; Description: CSS File for Javascript I 
;===========================================
 
*/

thead {
    background-color: #496CAD;
    color: #ffffff;
  }
  
  tr:nth-child(even) {
    background-color: #699CFA;
  }

  nav {
    background-color: rgb(204, 192, 228);
    height: 5vh;
  }
  
  #container {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
  }